.titulo-carrossel {
    height: 6vh;
    background-color: var(--branco);
    color: var(--laranja);
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    padding: 1em 0 0.5em 0;

}

.swiper-slide img{
    width: 100%;
    
}

.swiper-button-prev , .swiper-button-next {
    display: none;
} 

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card {
    background-color: var(--branco);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    
}

.desc-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    gap: 5px;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descricao h3 {
    font-size: 1em;
    color: var(--laranja);
    font-weight: 700;
}

.descricao h2 {
    font-size: 1.1em;
    color: var(--azul);
}

.descricao p {
    font-size: 0.8em;
}


.button-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-button-card img {
    margin: 0 0.5em;
}

.button-card a {
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    padding: 1em 2.2em;
}

.estrelas {
    width: 4vw;
}

@media screen and (min-width: 1024px) {
    .titulo-carrossel {
        font-size: 1.7em;
        padding: 0.8em 0 0.5em 0;
        margin-bottom: 1em;
    }
    
    .swiper{
        width: 60%;
        
    }
    
    .swiper-button-prev , .swiper-button-next {
        width: 50px;
        height: 50px;
        background-color: var(--azul);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--branco);

    }

    .card {
        width: 40vw;
        margin: 2em auto;
    }
}